<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{- page_title -}}
      {%- if current_page != 1 %} &ndash; {{ 'general.pagination.page' | t: page: current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- comment -%} Layer 2: settings -> CSS custom properties {%- endcomment -%}
    {% render 'css-variables' %}

    {{ 'core-base.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'core-global.js' | asset_url }}" defer></script>
    <script src="{{ 'core-cart.js' | asset_url }}" defer></script>

    {{ content_for_header }}
  </head>

  <body class="template-{{ request.page_type | handle }}">
    <a class="skip-to-content sr-only-focusable" href="#MainContent">
      {{ 'general.skip_to_content' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" class="core-main" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
